<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three.js Test</title>
</head>
<body>
    <a href="cube">Cube</a>
    <br>
    <a href="space">Space</a>
    <br>
    <a href="table">Table</a>
</body>
</html>